@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');
html {
    overflow-x: hidden;

}

body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;


}
 
header .buscar {
    display: flex;
    justify-content: space-between;
    
}
.count-products {
	position: absolute;
	top: 50%;
	right: 10px;

	background-color: #f40303;
	color: #040404;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid rgb(8, 8, 8);
	z-index: 1;
}
.count-products span {
    color:white;
    font-size: 15px;
}
.buscar {
    display:flex;
}

.menu h2{ 
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
}

.dropdown {
    display: none;
    cursor: pointer;
}
#carro {
    font-size: 1.3rem;
    display: flex;
}

.dropdown i {
    font-size: 2rem;
}
.menu i {
    font-size: 2rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 1px;
    left: -8rem;
    width: 700px;
    padding: 1rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-color:1rem solid black;
  }
  .dropdown-menu a {
    display: block;
    margin: 15px 0;
    color: black;
    align-items: center;

  }

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(54, 175, 250) );
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0% ;
    box-shadow: 0 0 5px 5px rgba(49, 203, 238, 0.933);

}
header a {
    cursor: pointer;
    display: flex;
    font-family: 'Bungee', cursive;
    font-size: larger;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s linear;
    padding: 5px;
    text-decoration: none;
    color: black;
    
}
header a:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: all 0.1s linear;
    color: black;
    
}


html {
    scroll-behavior: smooth;
}

header h1 {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: inline-block;
    font-family: 'Bungee', cursive;
    text-shadow: 7px 3px 7px #000;
    display: flex;
}
main h1 {
    font-size: 3rem;
    font-family: 'Bungee', cursive;
    padding: 1rem;
    border-bottom: 1px solid white;
}
h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-family: 'Bungee', cursive;
}
h3 {
    width: 50%
}

h4 {
    color: rgb(251, 251, 255);
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito p {
    font-family: 'Bungee', cursive;
    text-shadow: none;

}

img {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}


#send{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color:white;
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(54, 175, 250) );
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: 2px solid black;     
}

#send:hover {
    transition: all 0.2s ease;
    box-shadow: 7px 3px 7px #000;    
}

p {
    display: inline-block;
    font-size: 2rem;
    padding: 2px;

}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.card-text {
    color:#d60404;
    border-radius: 5px;
    font-size: 1.5rem bold;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-title {
    font-family: 'Bungee', cursive;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color:white;
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(54, 175, 250) );
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: 2px solid black;

}
.btn-success {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color:white;
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(54, 175, 250) );
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: 2px solid black;
}

.btn-success:hover {
    transition: all 0.2s ease;
    color: red;
    box-shadow: 7px 3px 7px #000; 
}


.btn-primary:hover {
    transition: all 0.2s ease;
    color: red;
    box-shadow: 7px 3px 7px #000;

}

img {
        transition: all 0.3s linear;
        border-radius: 5px;

        
}
img:hover {
        transition: all 0.1s linear;
        transform: scale(1.01);
        cursor: pointer;
}


u {
    
    padding: 2px;
    border-width: 2rem;
    color: black;
    box-shadow: none;
    
}
.subtotal {
    font-style: oblique;
    color: red;
}
fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
}
fieldset label {
    display: flex;
    align-items: center;
    flex-direction: row;
}

label {
    font-family: 'Bungee', cursive;
    font-size: larger;
    gap: 3px;
    padding-right: 5px;
    padding-left: 2px;
    
}

input {
    padding: 3px;

}

.row #wrap {
    flex-direction: column;
    width: 50%;
   
}

form {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-general {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "tarjetas carrito";
    overflow-x: hidden;

    
}

.row {
    overflow-x: hidden;

    grid-area: tarjetas;
    display:flex;
    align-items:flex-end;
    align-content: flex-start;
    padding: 6rem;
    border-bottom: 1rem solid white;

}

.carrito {
    margin-right: 0;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 4rem;
    right: -1rem;
    width: 700px;
    height:85%;
    grid-area: carrito;
    overflow: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(68, 77, 245),rgba(54,230,250) );
    text-shadow: 7px 3px 7px #000;
    color: white;
    box-shadow: 0 0 5px 5px rgba(49, 203, 238, 0.933);
    padding-top: 0.7rem;
    justify-content:first baseline;
    border-bottom: 0.2rem solid white;   
}



.carrito a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-style: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    padding-top: 1rem;
    cursor: pointer;
}

.carrito a:hover {
    color: black;
}

.carrito h1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 2.4rem;
    cursor: pointer;
}
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.contacto a {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}
.contacto a:hover {
    color: black;
    cursor: pointer;
}

footer {
    background: linear-gradient(rgba(49, 203, 238, 0.933),rgb(54, 175, 250) );
    box-shadow: 0 0 5px 5px rgba(49, 203, 238, 0.933);
    border-width: 1rem;
    font-family: 'Bungee', cursive;
    color: white;
    text-shadow: 7px 3px 7px #000;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-x: hidden;


}
@media (max-width: 1300px) {

    .dropdown {
        display: flex;

    }
    .card-text {
        font-size: 1.3rem;
    }
    .card-title {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 1rem;
    }

    .menu-label img {
        width: 20%;
    }
    .menu h2 {
        display: none;
    }
    .menu a {
        display: none;
    }

    .subtotal {
        font-size: 1.2rem;
    }

    .row #wrap {
        gap:1rem;
    }
    header {
    align-items: center;
    width: 100%;
    }
   
    .carrito h1 {
        font-size: 1.8rem;
        padding-bottom: 0.5rem;
    }
    .carrito img {
        display: none;
    }
   
    footer {
        flex-direction: column;
    }
    header h1 {
        font-size: 1.5rem;
    }

}

@media (max-width:800px) {

    .dropdown {
        padding-left: 2rem;

    }

    .btn-primary {
        font-size: 0.8rem;
    }
.buscar {
    font-size: 0.5rem;
    padding: 0;
}
p {
    font-size: 2rem;
}

.row {
    padding: 1rem;
}
header h1 {
    font-size: 1rem;
}
.carrito a {
    font-size: 3rem;
}
.card-text {
    font-size: 1.2rem;
}
.card-title {
    font-size: 1rem;
}
#carro {
    font-size: 1.2rem;
    display: flex;
    cursor:pointer;
}
.div-general {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.carrito {
    width: 100%;
    height: 80%;
    top:4.5rem;
}


footer p{
    font-size: 1rem;
}
footer {
    padding: 0.5rem;
}
}

@media (max-width:550px) {

    .dropdown {
        padding-left: 0;

    }
    .btn-primary {
        font-size: 0.8rem;
    }

    .buscar {
        font-size: 0.5rem;
        padding: 0;
    }
    header h1 {
        font-size: 0.6rem;
    }
    fieldset label {
        display: none;
        
    }

    input {
    width: 70%;   
    }

}
